#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
}
h1{ 
    font-family: 'Comforter', cursive;
    color: aqua;
}
h3{
    font-family: 'Pacifico', cursive;
    color: chartreuse;
}
p{
    font-family: 'Indie Flower', cursive;
    color: coral;
}
label{
    font-family: 'Great Vibes', cursive;
    color: deeppink;
    font-size: 20px;
}